<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><ion-button shape="round" fill="outline"(click)="showAlert();">My First Button</ion-button></ion-content>
<ion-card>
  <ion-card-header>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  Card content.
  </ion-card-content>
  </ion-card>
  <ion-icon name="volume-high"></ion-icon>
<ion-icon name="volume-low"></ion-icon>
<ion-icon name="volume-mute"></ion-icon>
<ion-icon name="volume-off"></ion-icon>